<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!--数据库驱动相关 引入Oracle.ManagedDataAccess自动生成-->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <connectionStrings>
    <add name="EMRSDB" connectionString="User ID=IHD;Password=IHD;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 132.147.50.30)(PORT = 1521)) (CONNECT_DATA=(SERVICE_NAME = orcl)))" />
  </connectionStrings>

  <appSettings>
    <!--在Web应用中加载的多数据库连接配置-->
    <add key="DBOne" value="..\DBOne.config" />
    <add key="DBTwo" value="..\DBTwo.config" />
    <add key="超声" value="supcon.Exam_master_item_data" />
    <add key="超声rpt" value="supcon.Exam_master_item_report" />
    <!--在Web应用中加载的获取Session的类名称-->
    <!--<add key="SessionSourceType" value="http"/>
    <add key="HttpSessionSourceItemName" value="NHSession"/>
    <add key="UserSessionSource" value="true"/>-->
    <!--在Windows应用中加载的获取Session的类名称-->
    <add key="SessionSourceType" value="threadStatic" />
    <add key="SessionSourceItemName" value="NHSession" />
    <add key="UserSessionSource" value="true" />
    <!--集成平台开关-->
    <add key="IntegrationOpen" value="false" />

    <!--缓存库刷新时间-->
    <add key="CacheRefreshTime" value="02:00" />

    <!--手术分级管理开关-->
    <add key="OperationManageOpen" value="true" />

    <!-- 手术申请界面感染标志数据源-->
    <add key="InfectionSource" value="HIV;梅毒;乙肝;丙肝" />

    <add key="LOG_BAK" value="C:\HIS\Log\LOGBAK" />
    <!--值有0,1,2,9分别为None,Normal,Advanced,All
      None为不写日志;
      Normal为写错误日志;
      Advanced高级日志,记录错误日志和脏数据警告日志;
      All为详细记录全部日志,包括上述内容及SQL语句,执行时间.
      -->
    <add key="LogLevel" value="9" />
    <add key="EXCLUDE_INPUTCODE" value="V01%" />
    <add key="PDFPath" value="\\100.100.100.85\pdf\" />
    <add key="LocalHospital" value="600158" />
    <add key="LocalHospitalName" value="中国人民解放军军区沈阳总医院" />
    <add key="LocalViceHospitalName" value="沈阳总医院" />
    <add key="LocalPassDLLPath" value="C:\MediComSoftware\PASS2004\DIFPassDll.dll" />
    <add key="RemoteHospital" value="600180" />
    <add key="RemoteAccess" value="false" />
    <add key="IndexAccess" value="1" />
    <!--0只读EHR库，1只读本地库，2读EHR和本地库-->
    <!--作废检查申请是否插入到exam_master表 20111012 jzj-->
    <add key="IsInsertExamMaster" value="false" />
    <!--ACT服务访问需要的参数 By YangMingkun 2010.7.16-->
    <add key="ConnectCount" value="5" />
    <!--心电图类型描述-->
    <add key="ECGClassName" value="心电图" />
    <!--根据不同的图形类型查询不同的视图或者表-->
    <add key="CT" value="supcon.Exam_master_item_data" />
    <add key="CR" value="supcon.Exam_master_item_data" />
    <add key="放射" value="supcon.Exam_master_item_data" />
    <add key="放射线" value="supcon.Exam_master_item_data" />
    <add key="腹超声" value="supcon.Exam_master_item_data" />
    <add key="心超声" value="supcon.Exam_master_item_data" />
    <add key="肌电图" value="supcon.Exam_master_item_data" />
    <add key="病理" value="supcon.Exam_master_item_data" />
    <add key="心电图" value="supcon.Exam_master_item_data" />
    <add key="磁共振" value="supcon.Exam_master_item_data" />
    <add key="内窥镜" value="supcon.Exam_master_item_data" />
    <add key="ＣＴ" value="supcon.Exam_master_item_data" />
    <add key="心脏超" value="supcon.Exam_master_item_data" />
    <add key="先心超" value="supcon.Exam_master_item_data" />
    <add key="X线" value="supcon.Exam_master_item_data" />
    <!--判断是否要执行存储过程-->
    <add key="supcon.Exam_master_item_data" value="false" />
    <add key="supcon.Exam_master_item_data" value="false" />
    <!--根据不同的报告类型查询不同的视图或表-->
    <add key="CTrpt" value="supcon.V_Exam_master_item_report" />
    <add key="CRrpt" value="supcon.V_Exam_master_item_report" />
    <add key="放射rpt" value="supcon.V_Exam_master_item_report" />
    <add key="放射线rpt" value="supcon.V_Exam_master_item_report" />
    <add key="心超声rpt" value="supcon.V_Exam_master_item_report" />
    <add key="腹超声rpt" value="supcon.V_Exam_master_item_report" />
    <add key="肌电图rpt" value="supcon.V_Exam_master_item_report" />
    <add key="病理rpt" value="supcon.V_Exam_master_item_report" />
    <add key="心电图rpt" value="supcon.V_Exam_master_item_report" />
    <add key="磁共振rpt" value="supcon.V_Exam_master_item_report" />
    <add key="内窥镜rpt" value="supcon.V_Exam_master_item_report" />
    <add key="ＣＴrpt" value="supcon.V_Exam_master_item_report" />
    <add key="心脏超rpt" value="supcon.V_Exam_master_item_report" />
    <add key="先心超rpt" value="supcon.V_Exam_master_item_report" />
    <add key="X线rpt" value="supcon.V_Exam_master_item_report" />

    <!--是否写入检查计价项目-->
    <add key="ISInsertExamBillItems" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.serviceModel>
    <services>



      <service name="EMRS.Library.ApplyToDrugStock">
        <endpoint address="" binding="basicHttpBinding" contract="EMRS.Library.IApplyToDrugStock">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/ApplyToDrugStock/" />
          </baseAddresses>
        </host>
      </service>

      <service name="EMRS.Library.DrugStockCheck">
        <endpoint address="" binding="basicHttpBinding" contract="EMRS.Library.IDrugStockCheck">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/DrugStockCheck/" />
          </baseAddresses>
        </host>
      </service>

      <service name="EMRS.Library.DrugStockCheck2">
        <endpoint address="" binding="basicHttpBinding" contract="EMRS.Library.IDrugStockCheck2">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/DrugStockCheck2/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False" />
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
          以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <!--数据库驱动相关 引入Oracle.ManagedDataAccess自动生成-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <!--数据库驱动相关 引入Oracle.ManagedDataAccess自动生成-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--数据库驱动相关 引入Oracle.ManagedDataAccess自动生成-->
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <!--类库启动-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
